<section class="textual">
  <div class="wrap">
    <h2>Login</h2>
    <form class="login-form simpleform" method="post">
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <div class="simpleinput"><input type="email" name="email" placeholder="me@example.com"></div>
      <div class="simpleinput"><input type="password" name="password" placeholder="Password"></div>
      <div class="simpleinput"><button>Submit</button></div>
      <%= if Tribes.Config.get(:registrations_open) do %>
        <p style="margin-top: 40px; text-align: center;">Don&rsquo;t have an account? <a href="/register">Sign up instead.</a></p>
      <% end %>
      <p style="margin-top: 20px; font-size: 16px; color: rgba(0, 0, 0, 0.7); text-align: center;">Trouble logging in? <a href="/password_reset">Reset your password.</a></p>
    </form>
  </div>
</section>
