<section class="textual">
  <div class="wrap">
    <h2>Set New Password</h2>
    <form class="login-form simpleform" method="post">
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <div class="simpleinput"><input type="password" name="password" placeholder="Password"></div>
      <div class="simpleinput"><input type="password" name="password_confirmation" placeholder="Password (again)"></div>
      <div class="simpleinput"><button>Submit</button></div>
    </form>
  </div>
</section>
