<section class="textual">
  <div class="wrap">
    <h2>Password Reset</h2>
    <form class="login-form simpleform" method="post">
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <div class="simpleinput"><input type="email" name="email" placeholder="me@example.com"></div>
      <div class="simpleinput"><button>Submit</button></div>
    </form>
  </div>
</section>
