<section class="textual">
  <div class="wrap">
    <h2>Sign Up</h2>
    <div class="explanation-box">
      <strong>Please note: Tribes is in ALPHA state!</strong>
      We make no guarantee of uptime or data retention.
      All funds transferred through the site should be considered donations.
      If something goes wrong, please email <%= Tribes.Config.get(:support_email) %> so we can improve the service.
    </div>
    <form class="login-form simpleform" method="post">
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <div class="simpleinput"><input type="email" name="email" placeholder="me@example.com"></div>
      <div class="simpleinput"><input type="password" name="password" placeholder="Password"></div>
      <div class="simpleinput"><input type="password" name="password_confirmation" placeholder="Password (again)"></div>
      <div class="simpleinput" style="flex-direction: row;">
        <input type="checkbox" id="accepts_tos" name="accepts_tos" value="true">
        <label for="accepts_tos">Accept Tribes <a href="/tos">Terms of Service</a>.</label>
      </div>
      <div class="simpleinput" style="flex-direction: row;">
        <input type="checkbox" id="accepts_marketing_emails" name="accepts_marketing_emails" checked value="true">
        <label for="accepts_marketing_emails">Accept Tribes marketing emails.</label>
      </div>
      <div class="simpleinput"><button>Sign Up</button></div>
    </form>
  </div>
</section>
