<form phx-submit="email_subscribe" class="signup-form">
  <%= if @email do %>
    <p class="alert alert-info" role="alert">You have successfully subscribed <strong><%= @email %></strong> to the email list.</p>
  <% end %>
  <div class="fields">
    <input type="email" name="email" placeholder="you@example.com" autocomplete="off" />
    <button type="submit">Subscribe</button>
  </div>
</form>
