<section class="textual">
  <div class="wrap">
    <h2>Coming Soon</h2>
    <img src="/images/group.svg" style="display: block; margin: 0 auto; width: 400px; max-width: 100%;">
  </div>
</section>
<section class="highlighted">
  <div class="wrap">
    <div class="cta-banner cta-banner--email">
      <div class="cta-banner__text">
        <h2>Want updates?</h2>
        <p>Enter your email address to get notified when Tribes is&nbsp;ready.</p>
        <%= live_render(@conn, TribesWeb.EmailFormLive) %>
      </div>
    </div>
  </div>
</section>
