<div class="wrap">
  <!-- <div class="ctas">
    <div class="cta">
      <h2>Host your Tribe</h2>
      <div class="cta__text">Host your very own social media server. Your site, your rules.</div>
      <img class="cta__illustration" src="/images/group.svg">
      <div class="cta__button-container">
        <a class="button" href="/start">Start building »</a>
      </div>
    </div>
    <div class="cta">
      <h2>Discover Tribes</h2>
      <div class="cta__text">Find existing Tribes. Join a Tribe that's right for you.</div>
      <img class="cta__illustration" src="/images/ufo.svg">
      <div class="cta__button-container">
        <a class="button" href="/explore">Explore »</a>
      </div>
    </div>
  </div> -->
  <section class="textual">
    <img src="/images/group.svg" style="display: block; margin: 60px auto; width: 400px; max-width: 100%;">
    <h2>What is Tribes?</h2>
    <div class="cards">
      <div class="card">
        <h3>Social hosting</h3>
        <p>Tribes lets you create your own social media platform. We host it, but you own the domain name.<p>
      </div>
      <div class="card">
        <h3>More freedom</h3>
        <p>A hosting service is a fundamentally different relationship than a social media platform.
        <a href="/tos" class="read-more-link">Read more »</a><p>
      </div>
      <div class="card">
        <h3>Connected</h3>
        <p>Tribes is part of a larger network known as the Fediverse. By joining Tribes, you join 1 million existing users. <a href="https://jointhefedi.com/" class="read-more-link" target="_blank">Read more »</a><p>
      </div>
      <div class="card">
        <h3>For 1 or more people</h3>
        <p>A Tribe can be as small as a single person, or a community of thousands. There are millions of people on the Fediverse, and it's okay to participate at any size. <a href="/start" class="read-more-link">Start your Tribe »</a><p>
      </div>
      <!-- <div class="card">
        <h3>Easy to use</h3>
        <p>Tribes offers a dashboard to get things up and running. Easily deploy servers, manage your server's theme from the dashboard, and create database backups. <a href="#" class="read-more-link">Dashboard »</a><p>
      </div> -->
      <!-- <div class="card">
        <h3>Migrate out anytime</h3>
        <p>As long as you have the technical know-how, you can move out of Tribes to a different hosting provider at any time. Full database dumps of your server can be downloaded from the dashboard.<p>
      </div> -->
      <div class="technical card">
        <h3>Technical:</h3>
        <div>Your Tribe is a Docker container running in Kubernetes. Check out <a href="https://gitlab.com/tribes-host/" target="_blank">GitLab</a> for our repos. We are 100% free & open source.</div>
      </div>
    </div>
  </section>
</div>
<section class="highlighted">
  <div class="wrap">
    <div class="cta-banner">
      <div class="cta-banner__graphic">
        <img src="/images/group.svg">
      </div>
      <div class="cta-banner__text">
        <h2>Let's start your Tribe!</h2>
        <p>Ready to start your Tribe? Let's get the ball rolling.</p>
        <a href="/start" class="button">Start your Tribe »</a>
      </div>
    </div>
  </div>
</section>
