<div class="page-banner">
  <div class="wrap">
    <h1>Start your Tribe</h1>
  </div>
</div>
<div class="wrap">
  <div class="cta-banner cta-banner--promo">
    <div class="cta-banner__graphic">
      <img src="https://soapbox.pub/images/screenshot-inside.png" width="500">
    </div>
    <div class="cta-banner__text">
      <h2><span style="text-decoration: line-through; color: #bdb769; font-size: 24px;">$10/mo</span> $1/mo</h2>
      <h3>What you'll get</h3>
      <ul class="textual">
        <li>A social media site owned by you.</li>
        <li>Bring your own domain name (we'll help).</li>
        <li>Your site, your rules (<a href="/tos">read more</a>).</li>
        <li>100 user limit (you can upgrade later).</li>
        <!-- <li>Migrate your Tribe any time.</li> -->
      </ul>
      <a class="button" href="/register">Next step</a>
    </div>
  </div>
</div>
<!-- <section class="textual">
  <div class="wrap">
    <h2>Migrate out any time</h2>
    <p>On Tribes you're not locked in. You can move to another host any time, or even self-host. You can even run it from home on a Raspberry Pi! <a href="#">Learn how »</a></p>
  </div>
</section>
<section class="highlighted">
  <div class="wrap">
    <div class="cta-banner">
      <div class="cta-banner__graphic">
        <img src="/images/ufo.svg">
      </div>
      <div class="cta-banner__text">
        <h2>Want to join a Tribe instead?</h2>
        <p>Search existing Tribes for the perfect fit. Home sweet home!</p>
        <a href="/explore" class="button">Explore »</a>
      </div>
    </div>
  </div>
</section> -->
