<section class="textual">
  <div class="wrap">
    <h2>Terms of Service</h2>
    <p>At Tribes, our baseline terms are simple: do not violate United States law, nor the law of the state of Texas.</p>
    <p>In the interest of self-preservation, if there are grey areas, we will err on the side of caution. Here is an idea of some things you should NOT post on Tribes:</p>
    <ul style="max-width: 600px; margin: 0 auto;">
      <li>Threats of violence or incitement of violence.</li>
      <li>Spam. (Marketing is okay, as long as you don't create unwanted notifications.)</li>
      <li>Sexual imagery that <em>appears</em> to depict minors, including illustrations (loli) as well as models over the age of 18 who appear to be younger.</li>
      <li>Personal information such as names, addresses, or phone numbers of non-public figures (doxing).</li>
      <li>Copyrighted content you don't have permission to share.</li>
    </ul>
    <p>Here are some things we DO allow on Tribes:</p>
    <ul style="max-width: 600px; margin: 0 auto;">
      <li>Dissenting, unpopular opinions.</li>
      <li>Viewpoints that make people angry (we will ignore their emails).</li>
      <li>Viewpoints that would deter advertisers (we're funded by you!)</li>
      <li>Petty drama.</li>
      <li>The full range of human vocabulary.</li>
      <li>Pretty much any statement protected by the 1st Amendment.</li>
    </ul>
    <p>Each Tribe may develop their own terms of service to add any additional restrictions they want. Tribe admins are responsible for ensuring their users follow at least these baseline rules.</p>
    <p>Use of this service comes with NO WARRANTY. While we are in "alpha" testing state, there is no guarantee of uptime or data retention. There are also NO REFUNDS due to the high cost of Bitcoin transaction fees. If something goes wrong, please email <%= Tribes.Config.get(:support_email) %> and we will try to make it right.</p>
    <p>Thank you for using Tribes!</p>
  </div>
</section>
