<div class="page-banner">
  <div class="wrap">
    <div class="page-banner__actions">
      <a href="/explore">« Back to Explore</a>
    </div>
    <h1><%= @data["title"] %></h1>
  </div>
</div>

<div class="wrap wrap--yuge">
  <div class="profile">
    <div class="profile__sidebar profile__sidebar--left">
      <div class="profile__join">
        <div class="profile__stats">
          <div class="stat">
            <div class="stat__quantity">
              <%= with %{"stats" => %{"user_count" => count}} <- @data do
                count
              else
                _ -> nil
              end %>
            </div>
            <div class="stat__quality">Users</div>
          </div>
          <div class="date-stat">
            <div class="date-stat__quality">Tribe since</div>
            <div class="date-stat__date"><%= Timex.format!(@tribe.inserted_at, "%b %Y", :strftime) %></div>
          </div>
        </div>
        <a class="button" href="https://<%= @tribe.domain %>" target="_blank">Join this Tribe</a>
      </div>
      <div class="profile__blurb">
        <h2>About <%= @data["title"] %></h2>
        <p>
          <%= with {:ok, content} <- FastSanitize.Sanitizer.scrub(@data["description"], Tribes.Scrubber) do
            raw(content)
          else
            _ -> nil
          end %>
        </p>
        <!-- <div class="tags">
          <a class="tag" href="#">#feminism</a>
          <a class="tag" href="#">#politics</a>
        </div> -->
      </div>
      <!-- <div class="profile__meta">
        <div class="profile__meta-item">Server location: 🇺🇸</div>
        <div class="profile__meta-item">Languages: EN, more</div>
      </div> -->
    </div>
    <div class="profile__feed">
      <div class="feed">
        <a class="feed__header" href="<%= @feed_url %>" target="_blank">
          <h2>Site feed</h2>
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
        <div class="feed__content">
          <%= for post <- @feed_items do %>
            <div class="feed__item">
              <div class="status status-public">
                <div class="status__expand" role="presentation"></div>
                <div class="status__info">
                  <a class="status__relative-time" href="<%= "https://#{@tribe.domain}/@#{post["account"]["acct"]}/posts/#{post["id"]}" %>">
                    <%= with {:ok, date} <- Timex.parse(post["created_at"], "{ISO:Extended}") do %>
                      <time datetime="<%= post["created_at"] %>" title="<%= Timex.format!(date, "%b %d, %Y, %H:%M", :strftime) %>">
                        <%= Timex.format!(date, "%b %d", :strftime) %>
                      </time>
                    <% else
                      _ -> %>
                    <% end %>
                  </a>
                  <a class="status__display-name active" aria-current="page" title="<%= post["account"]["acct"] %>" href="<%= "https://#{@tribe.domain}/@#{post["account"]["acct"]}" %>">
                    <div class="status__avatar">
                      <div class="account__avatar" style="background-image: url('<%= post["account"]["avatar"] %>');">
                      </div>
                    </div>
                    <span class="display-name">
                      <bdi><strong class="display-name__html"><%= post["account"]["display_name"] %></strong></bdi>
                      <span class="display-name__account"><%= "@#{post["account"]["acct"]}@#{@tribe.domain}" %></span>
                    </span>
                  </a>
                </div>
                <div class="status__content" lang="en">
                  <%= with {:ok, content} <- FastSanitize.Sanitizer.scrub(post["content"], Tribes.Scrubber) do
                    raw(content)
                  else
                    _ -> nil
                  end %>
                </div>
              </div>
            </div>
          <% end %>
          <a class="feed__item feed__item--loadmore" href="<%= @feed_url %>" target="_blank">
            Continue reading <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="profile__sidebar profile__sidebar--right">
      <%= with %{} <- @admin do %>
        <h2 class="greetings">Meet Your Admin</h2>
        <div class="user-panel">
          <div class="user-panel__container">
            <div class="user-panel__header">
              <img src="<%= @admin["header"] %>" alt="">
            </div>
            <div class="user-panel__profile">
              <a title="<%= @admin["acct"] %>" href="<%= "https://#{@tribe.domain}/@#{@admin["acct"]}" %>">
                <div class="account__avatar" style="background-image: url('<%= @admin["avatar"] %>');"></div>
              </a>
            </div>
            <div class="user-panel__meta">
              <div class="user-panel__account">
                <h1>
                  <a href="<%= "https://#{@tribe.domain}/@#{@admin["acct"]}" %>">
                    <span class="user-panel__account__name"><%= @admin["display_name"] %></span>
                    <small class="user-panel__account__username"><%= "@#{@admin["acct"]}@#{@tribe.domain}" %></small>
                  </a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= if Enum.count(@featured_users) > 0 do %>
        <h2 class="greetings greetings--small">Featured Members</h2>
        <div class="wtf-panel">
          <div class="wtf-panel__content">
            <div class="wtf-panel__list">
              <%= for user <- @featured_users do %>
                <div class="account">
                  <div class="account__wrapper">
                    <a target="_blank" href="<%= "https://#{@tribe.domain}/@#{user["acct"]}" %>" title="<%= user["acct"] %>" target="_blank" class="permalink account__display-name">
                      <div class="account__avatar-wrapper">
                        <div class="account__avatar" style="width: 36px; height: 36px; background-image: url('<%= user["avatar"] %>');"></div>
                      </div>
                      <span class="display-name">
                        <bdi><strong class="display-name__html"><%= user["display_name"] %></strong></bdi>
                        <span class="display-name__account"><%= "@#{user["acct"]}@#{@tribe.domain}" %></span>
                      </span>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<section class="highlighted">
  <div class="wrap">
    <div class="cta-banner">
      <div class="cta-banner__graphic">
        <img src="/images/group.svg">
      </div>
      <div class="cta-banner__text">
        <h2>Haven't found your Tribe?</h2>
        <p>Well you should start a Tribe instead! It's easy.</p>
        <a href="/start" class="button">Start your Tribe »</a>
      </div>
    </div>
  </div>
</section>
