<%= with %{
  domain: domain,
  remote_data: %{"instance" => %{
    "thumbnail" => thumb_url,
    "description" => blurb
}}} <- @instance do %>
  <a class="instance-thumb" href="/tribe/<%= domain %>">
    <div class="instance-thumb__graphic" style="background-image: url('<%= thumb_url %>')"></div>
    <div class="instance-thumb__content">
      <div class="instance-thumb__title"><%= domain %></div>
      <div class="instance-thumb__blurb">
        <%= with {:ok, content} <- FastSanitize.Sanitizer.scrub(blurb, Tribes.Scrubber) do
          raw(content)
        else
          _ -> nil
        end %>
      </div>
    </div>
  </a>
<% else
  %{domain: domain} -> %>
    <a class="instance-thumb" href="/tribe/<%= domain %>">
      <div class="instance-thumb__content">
        <div class="instance-thumb__title"><%= domain %></div>
      </div>
    </a>
<%  _ -> %>
<% end %>
