<div class="payment-page">
  <script src="https://js.stripe.com/v3/"></script>
  <div class="wrap">
    <h1>Checkout</h1>

    <div class="payment-request">
      <%= @pr.amount %>
      <%= with %Tribes.Instance{domain: domain} <- Tribes.Instance.get_by_subscription_id(@pr.subscription_id) do %>
        &mdash; <%= domain %>
      <% else
        _ -> %><em>Unable to display this item.</em>
      <% end %>
    </div>

    <%= case @pr.status do %>
      <%= :unpaid -> %>
        <div class="payment-tabs">
          <div class="payment-tab">
            <h2><i class="fa fa-credit-card"></i> Pay by Card</h2>

            <form action="" method="post" id="payment-form">
              <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
              <div class="form-row">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <div style="text-align: right;">
                <button>Pay Now (<%= Money.to_string(@pr.amount) %>)</button>
              </div>
            </form>
          </div>

          <div class="payment-tab">
            <h2><i class="fa fa-bitcoin"></i> Pay by Bitcoin</h2>
            <p>You will be redirected to a different page for payment.</p>
            <div style="text-align: right;">
              <a class="button" href="/pay/<%= @pr.id %>/btc" style="font-size: 13.33px">
                Bitcoin payment »
              </a>
            </div>
          </div>
        </div>
      <% :paid -> %>
        <div>Already paid</div>
    <% end %>
  </div>
  <script>
    // Set your publishable key: remember to change this to your live publishable key in production
    // See your keys here: https://dashboard.stripe.com/account/apikeys
    var stripe = Stripe('<%= Tribes.Config.get(:stripe_public_key) %>');
    var elements = stripe.elements();
    
    // Create an instance of the card Element.
    var card = elements.create('card');

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');
    
    // Create a token or display an error when the form is submitted.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the customer that there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          stripeTokenHandler(result.token);
        }
      });
    });
    
    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      // Submit the form
      form.submit();
    }
  </script>
</div>
