<div class="payment-page">
  <div class="wrap">
    <h1>Success</h1>

    <div class="payment-request">
      <%= @pr.amount %>
      <%= with %Tribes.Instance{domain: domain} <- Tribes.Instance.get_by_subscription_id(@pr.subscription_id) do %>
        &mdash; <%= domain %>
      <% else
        _ -> %><em>Unable to display this item.</em>
      <% end %>
    </div>

    <p>Your payment was successful! Please be patient while your tribe provisions. You will receive an email when your tribe is ready.</p>
  </div>
</div>
