<div class="textual">
  <a class="dashboard__back" href="/dashboard">
    <i class="fa fa-angle-left"></i> Back to Dashboard
  </a>
  <h1><i class="fa fa-credit-card"></i> Billing</h1>
  <h2>Payment history</h2>
  <%= case Tribes.Instance.get_subscription_status(@instance) do %>
    <% status when status in [:free, :paid] -> %>
      <div class="billing-status billing-status--paid">
        <i class="fa fa-check"></i> Your account is in good standing.
      </div>
    <% {:unpaid, %TribesPay.PaymentRequest{} = pr} -> %>
      <div class="billing-status billing-status--unpaid">
        <i class="fa fa-close"></i> You owe a payment of <%= Money.to_string(pr.amount) %>. (<a href="/pay/<%= pr.id %>">Pay now</a>)
      </div>
    <% _ -> %>
      <div class="billing-status billing-status--unpaid">
        <i class="fa fa-close"></i> You owe a payment.
      </div>
  <% end %>
  <%= case Tribes.Instance.get_payments(@instance) do %>
    <% [_ | _] = payments -> %>
      <ul><% Enum.map(payments, fn payment -> %>
        <li>You paid <%= Money.to_string(payment.amount) %> on <%= payment.inserted_at %>.</li>
      <% end) %></ul>
    <% _ -> %>
      No payments found.
  <% end %>
</div>
