<section class="textual">
  <div class="wrap">
    <h2>Create a Tribe</h2>
    <form class="simpleform" method="post">
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <div class="simpleinput">
        <label for="domain">Domain</label>
        <p class="hint">Enter the domain name for your new Tribe.</p>
        <input type="text" name="domain" placeholder="example.com" required pattern="^[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
        <ul>
          <li>Subdomains (eg tribe.example.com) are okay.</li>
          <li>Enter just the domain name, without https:// or any slashes.</li>
          <li>You should already own this domain name at a provider like <a href="https://www.namecheap.com/" target="_blank">Namecheap</a>.</li>
          <li>Configure your domain to point at Tribes. Add a new CNAME record with host <strong>@</strong> and value <strong><%= Tribes.Config.get(:cname) %></strong> For detailed instructions, <a href="https://www.namecheap.com/support/knowledgebase/article.aspx/9646/2237/how-to-create-a-cname-record-for-your-domain/" target="_blank">click here</a>. Do this before continuing.</li>
        </ul>
      </div>
      <div class="simpleinput">
        <button>Continue to payment</button>
      </div>
    </form>
  </div>
</section>
