<section class="textual">
  <div class="wrap">
    <h2>Destroy a Tribe</h2>
    <form class="simpleform" method="post">
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <div class="simpleinput">
        Are you sure you want to destroy <%= @conn.params["domain"] %>?
        <p class="hint">This cannot be undone. All of your data will be irreversibly destroyed. You will not be refunded.</p>
      </div>
      <div class="simpleinput" style="flex-direction: row;">
        <button name="confirm" type="submit" value="yes" style="margin: 0 auto;">Destroy</button>
        <a class="button" style="margin: 0 auto;">Go Back</a>
      </div>
    </form>
  </div>
</section>
