<div class="dash-profile">
  <div class="dash-profile__graphic">
    <div class="dash-profile__avatar">
      <%= get_user(@conn).email |> String.upcase() |> String.at(0) %>
    </div>
  </div>
  <div class="dash-profile__content">
    <div class="dash-profile__identity">
      <h2><%= @user.email %></h2>
    </div>
    <div class="dash-profile__actions">
      <a class="button" href="/dashboard/profile">
        <i class="fa fa-edit"></i> Edit Profile
      </a>
      <a class="button button--security" href="/dashboard/security">
        <i class="fa fa-lock"></i> Security
      </a>
    </div>
    <%# TODO: Put this "logout" button elsewhere %>
    <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
  </div>
</div>
