<div class="textual">
  <a class="dashboard__back" href="/dashboard">
    <i class="fa fa-angle-left"></i> Back to Dashboard
  </a>
  <h1><i class="fa fa-cog"></i> Manage</h1>
  <a class="button button--destructive" href="/dashboard/<%= @conn.params["domain"] %>/destroy">
    <i class="fa fa-trash"></i> Destroy
  </a>
</div>
