<section class="textual">
  <div class="wrap">
    <h1>Admin</h1>
    
    <h2>Stats</h2>
    <ul>
      <li><%= @instance_count %> instances</li>
      <li><%= @user_count %> users</li>
    </ul>

    <h2>Recent Users</h2>
    <ul>
      <%= for user <- @recent_users do %>
        <li><%= user.email %></li>
      <% end %>
    </ul>

    <h2>Recent Instances</h2>
    <ul>
      <%= for instance <- @recent_instances do %>
        <li><%= instance.domain %></li>
      <% end %>
    </ul>
    
    <h2>Debugging</h2>
    <pre style="max-width: 100%; overflow: scroll; max-height: 75vh; padding: 20px; border: 1px solid black; border-radius: 10px;">
      <%= @conn |> inspect(pretty: true) %>
    </pre>
  </div>
</section>