* {
  box-sizing: border-box;
}

:root {
  --brand-color: #19e6d2;
  --accent-color--dark: #f48810;
  --accent-color: #f4962a;
  --alt-text-color: #00b5aa;
  --triangle-size: 150px;
  --title-text-shadow: -9px 8px 0px var(--accent-color);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: var(--accent-color--dark);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.wrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;

  &--big {
    max-width: 1180px;
  }

  &--yuge {
    max-width: 1366px;
  }
}

.site-banner h1,
.page-banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

bdi {
  font-weight: bold;
}

img.emoji {
  height: 1em;
  vertical-align: bottom;
}
