.dashboard {
  display: flex;

  &__sidebar {
    background-color: var(--accent-color);
    color: white;
    min-height: calc(100vh - (86px + 128px));
    flex: 0;

    a {
      color: white;
    }

    .tribe-controls {
      &__title {
        display: flex;
        align-items: center;

        .indicator-dot {
          margin-right: 10px;
        }

        h2 {
          font-size: 32px;
          font-weight: bold;
          white-space: nowrap;

          a {
            text-decoration: none;
          }
        }
      }

      .tribe-picker {
        font-size: 20px;
        margin-top: 6px;

        select {
          border: 0;
          background: white;
          padding: 4px;
          font-size: 18px;
          width: 100%;
          border-radius: 4px;
        }
      }

      &__current {
        padding: 60px 40px 30px 20px;
      }

      &__nav {
        padding-bottom: 60px;

        a {
          text-decoration: none;
          display: block;
          padding: 16px 20px;
          font-size: 22px;
          transition: 0.2s;

          &.active {
            background-color: #f45c10;
          }

          &:hover {
            background-color: #f4b72a;
          }
        }
      }
    }

    @media(max-width: 764px) {
      min-height: auto;
      order: 9;
    }
  }

  &__content {
    background-color: white;
    flex: 1;
    padding: 60px 0;

    h1 {
      font-size: 60px;
      margin: 20px 0 60px;
    }

    h2 {
      font-size: 36px;
    }

    .textual {
      padding: 0 60px;
    }
  }

  &__back {
    text-decoration: none;
  }

  @media(max-width: 764px) {
    flex-direction: column;
  }
}

.indicator-dot {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 999px;

  &--online {
    background-color: #00ff00;
  }

  &--deploying {
    background-color: blue;
  }
}

.fake-bg {
  background-image: linear-gradient(90deg, var(--accent-color) 0%, var(--accent-color) 50%, white 50%, white 100%);

  @media(max-width: 764px) {
    .wrap {
      padding: 0;
    }
  }
}

.dash-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__graphic {
    margin: 0 20px;
  }

  &__avatar {
    background-color: var(--brand-color);
    color: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 76px;
    font-weight: bold;
  }

  &__content {
    margin: 20px 0;
  }

  &__actions {
    margin: 20px 0;

    .button {
      font-size: 22px;
      font-weight: normal;
      border: 0;
      background: var(--accent-color);
      color: white;
      padding: 14px 16px;

      &--security {
        background: #808080;
      }

      + .button {
        margin-left: 14px;
      }
    }
  }
}

.tribe-empty {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 60px 0;
  align-items: center;
  min-width: 300px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
  }

  img {
    margin: 20px 0;
  }

  .button {
    color: white;
    border-color: white;
    font-size: 24px;
  }

  @media(max-width: 764px) {
    padding: 20px 20px 60px;
  }
}

.button.button--destructive {
  background-color: #d40000;
  color: white;
  border: 0;
}
