.simpleinput {
  margin: 10px 0;
  display: flex;
  flex-direction: column;

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"] {
    border: 4px solid #666;
    font-size: 18px;
    min-height: 47px;
    flex: 1;
    width: 100%;
    padding: 8px 12px;
    transition: 0.2;

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
  }

  button {
    margin-left: auto;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
  }

  label {
    display: block;
    font-weight: bold;
  }

  .hint {
    font-size: 13px;
    margin: 0.4em 0;
    opacity: 0.7;
  }
}

.simpleform {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.explanation-box {
  border-radius: 10px;
  background-color: var(--accent-color--dark);
  padding: 10px;
  color: white;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
