.payment-page {
  padding: 40px 10px;
  background: #eee;
  
  .wrap {
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  h1 {
    font-size: 40px;
  }
  
  .payment-request {
    margin: 6px 0 40px;
  }
  
  .payment-tab {
    margin: 40px 0;
    
    h2 {
      font-size: 22px;
    }
    
    + .payment-tab {
      padding-top: 40px;
      border-top: 1px solid black;
    }
    
    p {
      margin: 12px 0;
    }
  }
  
  #payment-form {
    .form-row {
      margin: 20px 0;
    }

    #card-element {
      margin: 4px 0;
      padding: 10px 12px;
      border: 1px solid black;
    }
    
    #card-errors {
      color: orangered;
    }
    
    button {
      cursor: pointer;
      background: white;
    }
  }
}