a.button,
button {
  display: inline-block;
  border: 6px solid var(--accent-color);
  padding: 10px 15px;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.2s;
  text-align: center;

  &:hover {
    transform: translateY(-2px);
  }
}

a.button--alt {
  border-color: transparent;
  background-color: var(--alt-text-color);
  border-radius: 6px;
  color: white;
}

.button--alt2 {
  background-color: var(--accent-color--dark) !important;
}
