.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-gap: 60px 40px;
  margin: 60px 0;
}

.cards .card p {
  font-size: 16px;
  line-height: 1.1;
}

.card h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.card a.read-more-link {
  white-space: nowrap;
}

@media(max-width: 500px) {
  .cards {
    grid-gap: 40px;
    margin: 40px 0;
  }
}
