.cta-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-gap: 40px;
  font-size: 22px;
}

.cta-banner__text {
  p {
    margin: 10px 0 30px;
  }
}

.cta-banner__graphic {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.cta-banner--promo {
  margin: 80px 0;
  grid-gap: 80px;

  h2 {
    font-weight: bold;
    font-size: 50px;
    color: var(--alt-text-color);
  }

  h3 {
    font-weight: bold;
    font-size: 30px;
    color: var(--alt-text-color);
  }

  .cta-banner__graphic {
    border-radius: 8px;
    overflow: hidden;
  }

  ul {
    margin: 20px 0;
  }
}

@media(max-width: 500px) {
  .cta-banner {
    grid-gap: 20px;
    font-size: 18px;
  }

  .cta-banner--promo {
    margin: 20px 0;
  }

  .cta-banner--promo h2 {
    font-size: 30px;
  }

  .cta-banner--promo h3 {
    font-size: 24px;
  }

  .cta-banner__text p {
    font-size: 18px;
  }
}
