.ctas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4%;
  margin: 80px 0 100px;
}

.cta {
  background-color: var(--accent-color);
  padding: 40px;
  color: white;
  flex: 1;
  font-size: 24px;
}

.cta h2 {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 900;
  margin: 10px 0 20px;
}

.cta h2::before {
  content: '▼ ';
}

.cta__text {
  line-height: 1.5;
}

.cta .button {
  color: white;
  border-color: white;
}

.cta__illustration {
  display: block;
  margin: auto;
  width: 70%;
  margin: 30px auto 60px;
}

.cta__button-container {
  display: flex;
  justify-content: flex-end;
}

@media(max-width: 500px) {
  .ctas {
    margin: 20px 0;
    grid-gap: 20px;
  }

  .cta {
    padding: 20px;

    h2 {
      font-size: 24px;
    }
  }

  .cta__text {
    font-size: 18px;
  }

  .cta__illustration {
    margin: 30px auto 40px;
  }
}
