.directory {
  display: grid;
  grid-template-columns: 200px auto;
  margin: 80px 0;
}

.directory__sidebar {
  margin: 10px 0;

  h2 {
    font-weight: bold;
    font-size: 28px;
  }
}

.directory__header {
  display: flex;

  h2 {
    font-weight: bold;
    font-size: 50px;
  }

  .button {
    margin-left: auto;
  }
}

.filter-group {
  margin: 40px 0;

  h3 {
    font-weight: bold;
    font-size: 18px;
  }
}

.directory__footer {
  font-weight: bold;
}

.instance-thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  margin: 60px 0;
}

.instance-thumb {
  height: 120px;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: var(--alt-text-color);
  background-size: cover;
  transition: 0.2s;
  display: flex;
  padding-right: 10px;
  text-decoration: none;
  color: white;

  &__graphic {
    width: 160px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    background-color: white;
  }

  &__content {
    flex: 1;
    margin: 10px;
    overflow: hidden;
  }

  &__title {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.instance-thumbs__placeholder {
  border: 4px solid var(--accent-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--accent-color--dark);
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
  min-height: 120px;

  i.fa {
    margin-right: 10px;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

@media(max-width: 500px) {
  .directory {
    margin: 20px 0;
    display: block;
  }

  .directory__sidebar {
    display: none;
  }

  .directory__header {
    display: none;
  }

  .instance-thumbs {
    margin: 20px 0;
    grid-template-columns: 1fr;
  }

  .instance-thumb__graphic {
    width: 100px;
  }
}
