.technical {
  font-family: monospace;
  background: black;
  color: white;
  padding: 20px;
  font-size: 14px;
}

.technical h3,
.technical.card h3 {
  margin-top: 0;
  font-size: 18px;
}

.technical h3::after {
  content: '';
  width: 6px;
  height: 14px;
  background: white;
  display: inline-block;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  49.999% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

section.textual {
  margin: 80px 0;
  margin-bottom: 120px;
  line-height: 1.2;
}

section.textual .technical {
  max-width: 600px;
  margin: 0 auto;
}

section.textual h2 {
  font-weight: bold;
  text-align: center;
  color: var(--alt-text-color);
  font-size: 40px;
  margin-bottom: 40px;
}

section.textual h2::after {
  content: '';
  display: block;
  width: 200px;
  height: 8px;
  border-radius: 999px;
  background-color: var(--accent-color);
  margin: 0 auto;
}

section.textual video {
  display: block;
  max-width: 600px;
  max-height: 300px;
  margin: 40px auto;
}

.textual ul,
ul.textual {
  li {
    line-height: 1.5;
    margin-left: 20px;
    position: relative;

    &::before {
      content: '▼';
      position: absolute;
      color: var(--accent-color);
      left: -20px;
    }
  }
}

.textual p {
  font-size: 22px;
  max-width: 600px;
  margin: 1.2em auto;
}

section.highlighted {
  background-color: var(--accent-color);
  color: white;
  padding: 40px 0;
  font-size: 24px;
}

section.highlighted h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

section.highlighted a.button {
  color: white;
  border-color: white;
}

.page-banner {
  background-color: var(--accent-color);
  position: relative;
}

.page-banner h1 {
  padding: 80px 0;
  margin: 0;
  text-align: center;
  font-size: 80px;
  color: white;
  text-shadow: -13px 8px 0 var(--alt-text-color);
}

.page-banner__actions {
  position: absolute;
  left: 0;
  padding: 20px;

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid;
    transition: 0.2s;
    display: block;

    &:hover {
      transform: translateY(-1px);
    }
  }
}

@media(max-width: 500px) {
  section.textual {
    margin: 40px 0;
  }

  section.textual h2 {
    font-size: 30px;
    margin-bottom: 20px;

    &::after {
      height: 6px;
    }
  }

  .textual p {
    font-size: 18px;
  }

  section.highlighted {
    padding: 28px 0;

    h2 {
      font-size: 24px;
    }
  }

  .page-banner h1 {
    padding: 20px 0;
    font-size: 42px;
    text-shadow: -6px 5px 0 var(--alt-text-color)
  }

  .page-banner__actions {
    position: relative;
    padding: 10px 0 0;
    display: inline-block;
  }
}
