.profile {
  display: grid;
  grid-template-columns: 260px minmax(0, auto) 260px;
  margin: 40px 0;
  grid-gap: 60px;
}

.profile__sidebar--left {
  padding-right: 20px;
}

.feed__header {
  display: flex;
  background: var(--accent-color);
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.2s;
  margin-bottom: 20px;

  i.fa {
    margin-left: auto;
  }
}

a.feed__header:hover {
  transform: translateY(-2px);
}

.feed__content {
  margin-bottom: 40px;
}

.feed__item {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

a.feed__item--loadmore {
  transition: 0.2s;
  display: block;
  text-decoration: none;
  color: #555;
  text-align: center;

  &:hover {
    transform: translateY(-2px)
  }
}

.profile__blurb {
  font-size: 18px;

  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  p {
    line-height: 1.2;
  }

  .tags {
    margin: 20px 0;
  }
}

.profile__join {
  margin-bottom: 70px;

  a.button {
    border: 0;
    background: var(--alt-text-color);
    color: white;
    display: block;
    margin: 10px 0;
    font-size: 26px;
    padding: 16px;
    border-radius: 8px;
  }
}

.profile__stats {
  display: flex;
  align-items: center;

  .stat {
    margin-right: 40px;
  }
}

.stat {
  font-size: 20px;
  text-align: center;

  &__quantity {
    font-size: 40px;
    font-weight: bold;
  }
}

.date-stat {
  text-align: center;
  line-height: 1.2;

  &__quality {
    font-size: 18px;
  }

  &__date {
    font-weight: bold;
    font-size: 20px;
  }
}

.profile h2.greetings {
  color: var(--alt-text-color);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;

  &--small {
    font-size: 20px;
    margin: 40px 0 10px;
  }
}

.profile__meta {
  margin-top: 60px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
  font-size: 18px;

  &-item {
    margin: 10px 0
  }
}

@media(max-width: 1200px) {
  .profile {
    display: block;
    margin: 20px 0;
  }

  .profile__sidebar--left {
    padding: 0;
  }

  .profile__join {
    margin: 30px 0;
  }

  .profile__blurb {
    margin: 30px 0;
  }

  .feed__header {
    margin: 0;
    font-size: 18px;
  }

  .feed__item {
    margin: 0;
    border-top: 0;
    padding: 10px 0;
  }

  .feed__content {
    max-height: 260px;
    overflow: scroll;
    border-bottom: 1px solid #ccc;
  }

  .profile h2.greetings--small {
    margin: 20px 0 10px;
  }
}
