.cta-banner--email {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.signup-form {
  margin-bottom: 20px;
  max-width: 500px;

  .alert {
    margin: 0 auto 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .alert-info {
    border: 0;
    border-radius: 0;
    background-color: white;
    color: var(--accent-color--dark);
  }

  .fields {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    input {
      border: 4px solid #666;
      font-size: 18px;
      min-height: 47px;
      flex: 1;
      max-width: 100%;
      padding: 8px 12px;
    }

    button {
      margin-left: auto;
      background: transparent;
      color: white;
      border-color: white;
      cursor: pointer;
    }
  }
}
