.site-banner {
  text-align: center;
  background-color: var(--brand-color);
  background-image: url('/images/triangle.svg');
  background-size: var(--triangle-size);
  animation-name: bg-loop;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.site-banner__title {
  padding-bottom: 60px;
}

.site-banner .logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 390px;
  max-width: 100%;
}

.site-banner .tagline {
  background-color: var(--accent-color);
  color: white;
  display: inline-block;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 24px;
}

.site-banner--home .topbar__logo {
  display: none;
}

@media(max-width: 500px) {
  .site-banner__title {
    padding-bottom: 40px;
  }

  .site-banner__title h1 {
    font-size: 18vw;
    text-shadow: -1.9vw 1.8vw 0px var(--accent-color);
  }

  .site-banner .tagline {
    font-size: 20px;
  }
}

@keyframes bg-loop {
  100% {
    background-position: var(--triangle-size) calc(var(--triangle-size) * 0.8);
  }
}
