.site-footer {
  text-align: center;
  background: #eee;
  color: hsla(0, 0%, 0%, 0.7);
  padding: 40px 0;
  line-height: 1.5;

  @media(max-width: 500px) {
    font-size: 13px;

    .wrap {
      padding: 10px;
    }
  }
}
