.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-height: 86px;

  @media(max-width: 500px) {
    padding: 4px 0;
  }
}

.topbar .topbar__logo {
  transition: 0.2s;

  img {
    height: 43px;
    max-width: 30vw;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.topbar .topbar__search {
  input {
    font-size: 18px;
    padding: 4px 10px;
    border: 0;
    border-radius: 999px;
    border: 4px solid transparent;

    &:focus {
      outline: 0;
      border-color: var(--accent-color);
    }
  }

  @media(max-width: 520px) {
    display: none;
  }
}

.topbar .topbar__navlinks {
  margin-left: auto;
  display: flex;

  a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    white-space: nowrap;
    padding: 10px 0;

    span {
      display: block;
      transition: 0.2s;
    }

    &:hover span {
      transform: translateY(-2px);
    }
  }
}

.topbar__button {
  margin-left: 20px;

  a.button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    background: var(--alt-text-color);
    border: 0;
  }
}

.topbar__avatar {
  margin-left: 20px;
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  overflow: hidden;
  background: var(--accent-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
