.user-panel {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: var(--foreground-color);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  &__header {
    display: block;
    height: 112px;
    width: 100%;
    background: var(--brand-color--faint);

    .still-image {
      height: 100%;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }

  &__profile {
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    margin-top: -53px;

    .account__avatar {
      display: block;
      width: 82px;
      height: 82px;
      border: 6px solid var(--foreground-color);
      background-size: cover;
    }
  }

  &__meta {
    display: block;
    padding: 6px 20px 24px;
    opacity: 0.6;
  }

  &__account {
    a {
      text-decoration: none;
      color: var(--primary-text-color);
    }

    &__name {
      display: block;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: var(--primary-text-color);
    }

    &:hover & {
      &__name {
        text-decoration: underline;
      }
    }

    &__username {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: var(--primary-text-color--faint);
      text-decoration: none !important;
    }
  }
}
