<div class="wrap">
  <div class="topbar">
    <a class="topbar__logo" href="/">
      <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Tribes">
    </a>
    <nav class="topbar__navlinks">
      <%# <a href="/explore">
        <span><i class="fa fa-globe-w"></i> Explore</span>
      </a> %>
      <%= if is_admin(@conn) do %>
        <a href="/admin">
          <span><i class="fa fa-cog"></i> Admin</span>
        </a>
      <% end %>
      <%= if logged_in(@conn) do %>
        <a href="/dashboard">
          <span><i class="fa fa-cog"></i> Dashboard</span>
        </a>
      <% end %>
    </nav>
    <%= if logged_in(@conn) do %>
      <a class="topbar__avatar" href="/dashboard">
        <div class="topbar__avatar-placeholder">
          <%= get_user(@conn).email |> String.upcase() |> String.at(0) %>
        </div>
      </a>
    <% else %>
      <div class="topbar__button">
        <a class="button" href="/login">Login</a>
        <%= if Tribes.Config.get(:registrations_open) do %>
          <a class="button button--alt2" href="/register">Sign Up</a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
