<div class="site-banner">
  <%= render("_topbar.html", conn: @conn) %>
</div>
<div class="site-content">
  <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <div class="fake-bg">
    <div class="wrap">
      <div class="dashboard">
        <div class="dashboard__sidebar">
          <%= with %Tribes.Instance{} = tribe <- @instance do %>
            <div class="tribe-controls">
              <div class="tribe-controls__current">
                <div class="tribe-controls__title">
                  <div class="indicator-dot indicator-dot--<%= tribe.status %>"></div>
                  <h2><a href="/dashboard">My Tribe</a></h2>
                </div>
                <div class="tribe-picker">
                  <select>
                    <%= Enum.map(Tribes.Instance.get_for_user(@user, [:deploying, :online]), fn tribe -> %>
                      <option value="<%= tribe.domain %>"<%= if tribe.domain == @instance.domain, do: " selected" %>>
                        <%= tribe.domain %>
                      </option>
                    <% end) %>
                  </select>
                </div>
              </div>
              <nav class="tribe-controls__nav">
                <%= with path <- @conn.path_info |> Enum.at(-1) do %>
                  <a href="<%= Tribes.Instance.get_url(tribe) %>" target="_blank">
                    <i class="fa fa-external-link"></i> Visit site
                  </a>
                  <a href="/dashboard/<%= tribe.domain %>/manage" class="<%= if path == "manage", do: "active" %>">
                    <i class="fa fa-cog"></i> Manage
                  </a>
                  <a href="/dashboard/<%= tribe.domain %>/billing" class="<%= if path == "billing", do: "active" %>">
                    <i class="fa fa-credit-card-alt"></i> Billing
                  </a>
                  <!-- <a href="/dashboard/<%= tribe.domain %>/debugging" class="<%= if path == "debugging", do: "active" %>">
                    <i class="fa fa-bug"></i> Debugging
                  </a> -->
                  <a href="/dashboard/create" class="<%= if path == "create", do: "active" %>">
                    <i class="fa fa-plus"></i> Add Tribe
                  </a>
                <% else
                  _ -> %>
                <% end %>
              </nav>
            </div>
          <% else
            nil -> %>
            <div class="tribe-empty">
              <h2>You haven&rsquo;t started a tribe yet.</h2>
              <img src="/images/group.svg">
              <a class="button" href="/dashboard/create">Start now »</a>
            </div>
          <% end %>
        </div>
        <div class="dashboard__content">
          <%= @inner_content %>
        </div>
      </div>
    </div>
  </div>
</div>
