<div class="site-banner site-banner--home">
  <%= render("_topbar.html", conn: @conn) %>
  <div class="site-banner__title">
    <div class="wrap">
      <img class="logo" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Tribes">
      <div class="tagline">Social media owned&nbsp;by&nbsp;you</div>
    </div>
  </div>
</div>
<div class="site-content">
  <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</div>
