<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <%= csrf_meta_tag() %>
    <title>Tribes | Social media owned by you</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="announcement-bar">Tribes is in ALPHA state. Please report bugs to <%= Tribes.Config.get(:support_email) %>.</div>
    <%= @inner_content %>
    <div class="site-footer">
      <div class="wrap">
        <div class="copyleft">Copyleft <span style="transform: rotate(180deg); display: inline-block;">©</span> 2021 Tribes Host, LLC. (<a href="https://gitlab.com/tribes-host/tribes" target="_blank">Source code</a>)</div>
        <div class="open-source">A Tribe is a <a href="https://pleroma.social/" target="_blank">Pleroma</a> server.</div>
      </div>
    </div>
  </body>
</html>
